<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span> Catálogo
    </div>
    <div class="generalBox">
        <div class="controlBox inputColor">
            <form class="example-form" fxLayout="row wrap">
                <div class="marg_r10" fxFlex fxFlex.sm="100" fxFlex.xs="100">
                    <div class="labelsColor">Buscar</div>
                    <mat-form-field class="" appearance="outline" style="width: 100%">
                        <input type="tel" matInput placeholder="Buscar..." [maxlength]="100" name="txtSearch"
                            (keyup.enter)="searchByQuery()" [(ngModel)]="textSearch" />
                        <button mat-icon-button matSuffix (click)="searchByQuery()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="btnBoxCtrl">
                    <button mat-fab color="primary" (click)="newCatalog()" matTooltip="Agregar"
                        aria-label="Agregar Catálogo" fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>


            </form>
        </div>
        <div class="listBoxGeneral">
            <mat-table style="width: 100%;" mat-table [dataSource]="data.items">

                <!-- ID Column -->
                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="item_table"> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="codigo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="item_table"> Código </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="item_table"> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.value}} </mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="item_table"> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="exPnlBtn" fxLayout="column">
                            <button (click)="edit(row)"  matTooltip="Editar" color="primary" mat-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                            Editar
                        </div>
                        <div class="exPnlBtn" fxLayout="column">
                            <button (click)="remove(row)" matTooltip="Eliminar" color="primary" mat-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                            Eliminar
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontraron resultados</td>
                </tr>
            </mat-table>
            <mat-paginator [length]="data.recordsTotal" [pageSize]="data.count" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageEvent = $event;pageChangeEvent($event)">
            </mat-paginator>
        </div>
        <div fxLayout="row" *ngIf="isLoading" fxLayoutAlign="center center">
            <div class="icon-loading"></div>
        </div>
    </div>
</section>