<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span> {{esVentanadeCasillas?'Casillas Electrónicas':'Usuarios'}}
    </div>
    <div class="generalBox">
        <div class="controlBox inputColor">
            <form class="example-form" fxLayout="row wrap">
                <div class="marg_r10" fxFlex fxFlex.sm="100" fxFlex.xs="100">
                    <div class="labelsColor">Buscar</div>
                    <mat-form-field class="" appearance="outline" style="width: 100%">
                        <input type="tel" matInput placeholder="Número Doc ó Correo Electrónico" [maxlength]="100" name="txtSearch"  [(ngModel)]="textSearch" />
                        <!-- <button mat-icon-button matSuffix (click)="searchByQuery()">
                        <mat-icon>search</mat-icon>
                        </button> -->
                    </mat-form-field>


                </div>

                <div class="marg_r10" fxFlex fxFlex.sm="100" fxFlex.xs="100">
                    <div class="labelsColor">Estado</div>
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-select [(ngModel)]="txtestado" name="txtestado">

                            <mat-option *ngFor="let est of listEstados" [value]="est.value">{{est.name}}</mat-option>
                          <!-- <mat-option value="">- TODOS -</mat-option>
                          <mat-option value="APROBADO">APROBADO</mat-option>
                          <mat-option value="DESAPROBADO">DESAPROBADO</mat-option>
                          <mat-option value="REGISTRO INTERNO">REGISTRO INTERNO</mat-option>
                          <mat-option value="PENDIENTE">PENDIENTE</mat-option> -->
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="marg_r10" fxFlex fxFlex.sm="100" fxFlex.xs="100" >
                    <div class="labelsColor">Fecha inicio</div>
                    <mat-form-field appearance="outline" style="width: 100%">
                        <input type="date" matInput placeholder="dd/MM/YYY"  name="txtfechaini" [(ngModel)]="txtfechaini" [max]="txtfechafin || dateMax "/>
                      </mat-form-field>
                </div>
                <div class="marg_r10" fxFlex fxFlex.sm="100" fxFlex.xs="100" >
                    <div class="labelsColor">Fecha fin</div>
                    <mat-form-field appearance="outline" style="width: 100%">
                        <input type="date" matInput placeholder="dd/MM/YYY" name="txtfechafin" [(ngModel)]="txtfechafin" [max]="dateMax" [min]="txtfechaini" />
                      </mat-form-field>
                </div>
                <div class="marg_r10" fxFlex fxFlex.sm="100" fxFlex.xs="100"  fxFlex.md="10" fxFlex.lg="10" fxFlex.gt-lg="10">
                    <div class="labelsColor">Orden</div>
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-select [(ngModel)]="ordenFec" name="ordenFec">
                            <mat-option value="asc">Ascendente</mat-option>
                            <mat-option value="desc">Descendente</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="marg_r10" fxFlex fxFlex.sm="40" fxFlex.xs="40" fxFlex.md="10" fxFlex.lg="10" fxFlex.gt-lg="10">
                    <div class="labelsColor hidden_">.</div>
                    <button
                    style="width: 100%; line-height: 31px; margin-top: 4px;"
                    type="submit"
                    class="btnBlue"
                    mat-button
                    (click)="searchByQuery()"
                  >
                    Buscar
                  </button>
                </div>
                <div class="marg_r10" fxFlex fxFlex.sm="40" fxFlex.xs="40" fxFlex.md="10" fxFlex.lg="10" fxFlex.gt-lg="10">
                    <div class="labelsColor hidden_">.</div>
                    <button
                    style="width: 100%; line-height: 30px; margin-top: 4px;"
                    type="submit"

                    mat-raised-button
                    (click)="cleanSearch()"
                  >
                    Limpiar
                  </button>
                </div>

                <button mat-fab color="primary" *ngIf="esAdministrador" (click)="newUser()" aria-label="Agregar usuario">
          <!-- <mat-icon>add</mat-icon> -->
          <span class="btn_add">+</span>
        </button>

            </form>
        </div>
        <div class="listBoxGeneral">
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let user of userData.Items" >
                    <div fxLayout="row" fxFlex>
                        <div class="listPhotoBox" fxLayout="column" fxLayoutAlign="center center">
                            <div [ngClass]="getColor(user.name||user.organization)" fxLayout="row" fxLayoutAlign="center center">
                                {{ user.name | slice: 0:1 }}
                                {{ user.organization | slice: 0:1 }}
                            </div>
                        </div>
                        <div class="listSubject" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

                            <div>
                                <p class="lNombre">
                                    {{ user.name }} {{ user?.lastname }}
                                </p>
                                <p class="lOrganizacion">
                                    {{ user.organization }}
                                </p>
                                <!-- <p class="lDocument" (click)="handleVerCasilla(user);">{{ user.doc_type }}: {{ user.doc }}</p> -->
                                <p class="lDocument">{{ user.doc_type }}: {{ user.doc }}</p>
                                <p class="lOrganizacion" *ngIf="esAdministrador">
                                    Creado por: {{user.createUser}}
                                </p>
                            </div>
                            <div style="display: flex;align-items: center;">
                                <div>
                                    <p class="lOrganizacion" *ngIf="esAdministrador || esRegistrador">
                                        {{user.estate_inbox}}
                                    </p>
                                </div>
                                <div style="margin-left: 40px;">
                                    <p class="lOrganizacion" *ngIf="esAdministrador || esRegistrador">
                                        {{  user.createdAt | date :'dd/MM/yyyy hh:mm:ss a' }}
                                    </p>
                                </div>
                                <div style="margin-left: 20px;">
                                    <!-- <Button mat-stroked-button class="aprobacionBoton" *ngIf="(esAdministrador || esRegistrador) && user.estate_inbox === 'PENDIENTE' && !user.enAtencion" (click)="redirectDetail(user)">Validar</Button> -->
                                    <Button mat-stroked-button class="aprobacionBoton" *ngIf="(esAdministrador || esRegistrador) && (user.estate_inbox === 'APROBADO' || user.estate_inbox === 'DESAPROBADO')" (click)="redirectDetailRegCasilla(user)">Ver Detalle</Button>
                                    <Button mat-stroked-button class="aprobacionBoton" *ngIf="(esAdministrador || esRegistrador) && user.estate_inbox === 'Registro interno'" (click)="handleVerCasilla(user);">Ver Detalle</Button>
                                    <!-- <Button mat-stroked-button class="aprobacionBoton" *ngIf="user.enAtencion && user.estate_inbox === 'PENDIENTE'">En Atención</Button> -->
                                    <Button mat-stroked-button class="aprobacionBoton" *ngIf="(esAdministrador || esRegistrador) && user.estate_inbox === 'PENDIENTE'" (click)="redirectDetail(user)">{{ user.enAtencion == true ? 'En Atención' : 'Validar' }}</Button>
                                    <!-- <button mat-stroked-button *ngIf="esAdministrador && !esVentanadeCasillas" (click)="editUser(user)"><span class="material-icons" style="color: green;">edit</span></button> -->
                                    <button mat-stroked-button *ngIf="(esAdministrador && user.estate_inbox != 'PENDIENTE' && user.estate_inbox != 'DESAPROBADO') || (esAdministrador && user.estate_inbox === 'APROBADO')" (click)="editCasilla(user)"><span class="material-icons" style="color: green;">edit</span></button>
                                    <!-- <button mat-stroked-button *ngIf="esAdministrador" (click)="deleteUser(user)"><span class="material-icons" style="color: red;">delete</span></button> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </mat-list-option>
            </mat-selection-list>
            <mat-paginator style="margin-right: 30px;" [length]="userData.recordsTotal" [pageSize]="userData.count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = $event;pageChangeEvent($event)">
            </mat-paginator>
        </div>
        <div fxLayout="row" *ngIf="!listReadyCheck" fxLayoutAlign="center center">
            <div class="icon-loading"></div>
        </div>
    </div>
</section>
