<section>
  <div class="allTitles" fxLayout="row">
    <span class="brownCircle"></span>
    <span class="greyLine"></span>
    Nueva casilla electrónica
  </div>
  <div class="generalBox">
    <div class="controlBox inputColor">
      <!-- <div class="centerTitle">CANDIDATO A ELECCIÓN POPULAR</div> -->
      <form #myform="ngForm" [formGroup]="Formulario" (keydown.enter)="$event.preventDefault()" autocomplete="on">
        <div class="formNotif" fxLayout="row wrap">

          <!-- SECCION NUEVA -->
          
          <div
            fxFlex="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" class="padd_4" 
            
          >
            <div class="labelsColor">Número de expediente*</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                id="fm_nroExpediente"
                type="text"
                class="form-control"
                formControlName="fm_nroExpediente"
                [class.control-invalid]="formInvalid('fm_nroExpediente')"
                [minlength]="9"
                [maxlength]="30"
                [attr.disabled]="inputDisabled ? '' : null"
                matInput
                placeholder="Ingrese número de expediente"
                name="nroExpediente"
                (keypress)="quitarDobleEspacio('fm_nroExpediente', fm_nroExpediente, $event)"
                (blur)="busarExpediente('fm_nroExpediente')"
              />
              <mat-error *ngIf="Formulario.controls.fm_nroExpediente.invalid">{{
                eShowError("fm_nroExpediente", Formulario.controls.fm_nroExpediente.errors)
              }}</mat-error>                
            </mat-form-field>
          </div>
          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">Fecha de presentación*</div> 
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                id="fm_txtfechapres"
                type="date"
                class="form-control"
                matInput 
                formControlName="fm_txtfechapres"
                [max]="dateMax"
                placeholder="dd/MM/YYY"
                [class.control-invalid]="formInvalid('fm_txtfechapres')"
                name="txtfechapres"
                (keypress)="quitarDobleEspacio('fm_txtfechapres', fm_txtfechapres, $event)"
              />
              <mat-error *ngIf="Formulario.controls.fm_txtfechapres.invalid">{{
                eShowError("fm_txtfechapres", Formulario.controls.fm_txtfechapres.errors)
              }}</mat-error>                
            </mat-form-field>   
          </div>

          <!-- SECCION CANDIDATO-->
          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">Tipo de documento*</div>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-select
                placeholder="Seleccione"
                name="fm_optiontipo"
                formControlName="fm_optiontipo"
                (selectionChange)="eChangeDocumento($event)"
              >
                <mat-option *ngFor="let doc of typeDocument" [value]="doc.id">
                  {{ doc.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Formulario.controls.fm_optiontipo.invalid">{{
                eShowError("fm_optiontipo", Formulario.controls.fm_optiontipo.errors)
              }}</mat-error>
            </mat-form-field>
          </div>
          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">{{ buildLabel("fm_numerodoc") }}</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                class="form-control"
                type="text"
                formControlName="fm_numerodoc"
                [maxlength]="maxlengthNumDoc"
                [minlength]="minlengthNumDoc"               
                matInput
                [placeholder]="buildHolder('fm_numerodoc')"                                             
                (keypress)="validar_campo($event, 'fm_numerodoc')"
                (keyup.enter)="buscarCE()"
                [readonly]="Formulario.controls.fm_optiontipo.value == ''"                       
              />
              <mat-icon *ngIf="isCE" style="cursor: pointer;" (click)="buscarCE()" matSuffix>search</mat-icon> 
              <mat-error *ngIf="Formulario.controls.fm_numerodoc.invalid">{{
                eShowError("fm_numerodoc", Formulario.controls.fm_numerodoc.errors)
              }}</mat-error>        
            </mat-form-field>
          </div>
          <div fxFlex="100" class="padd_4" *ngIf="buildHide('fm_razon_social')">
            <div class="labelsColor">Razón social *</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input                
                class="form-control"
                formControlName="fm_razon_social"
                [class.control-invalid]="formInvalid('fm_numerodoc')"
                matInput
                placeholder="Ingrese el nombre de la Organización"
                name="fm_razon_social"
                [readonly]="existData"
              />
              <mat-error *ngIf="Formulario.controls.fm_razon_social.invalid">{{
                eShowError("fm_razon_social", Formulario.controls.fm_razon_social.errors)
              }}</mat-error>               
            </mat-form-field>
          </div>




          <div
          fxFlex="50"
          fxFlex.md="50"
          fxFlex.sm="100"
          fxFlex.xs="100"
          class="padd_4"
          *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
        >
          <div class="labelsColor">Correo electrónico*</div>
          <mat-form-field
            class=""
            disabled="true"
            appearance="outline"
            style="width: 100%"
          >
          <input
            id="fm_correo_pj"
            type="text"
            class="form-control"
            formControlName="fm_correo_pj"
            [class.control-invalid]="formInvalid('fm_correo_pj')"
            name="text"
            [attr.disabled]="inputDisabled ? '' : null"
            matInput
            placeholder="Ingrese correo electrónico"
            [maxlength]="100"
            (keypress)="quitarDobleEspacio('fm_correo_pj', fm_correo_pj, $event)"
          />
          <mat-error *ngIf="Formulario.controls.fm_correo_pj.invalid">{{
            eShowError("fm_correo_pj", Formulario.controls.fm_correo_pj.errors)
          }}</mat-error>                
        </mat-form-field>
        </div>








      <div
      fxFlex="50"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      class="padd_4"
      *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
    >
      <div class="labelsColor">Número de celular*</div>
      <mat-form-field
        class=""
        appearance="outline"
        style="width: 100%"
      >
        <input
          type="text"
          class="form-control"
          formControlName="fm_mobilePhone_pj"
          [class.control-invalid]="formInvalid('fm_mobilePhone_pj')"
          [maxlength]="9"
          [minlength]="9"
          (keypress)="validar_campo($event, 'fm_mobilePhone_pj')"
          matInput
          placeholder="Número de celular"
          name="cellphone"
          (input)="onKeydown($event, 'fm_mobilePhone_pj')"
        />
        <mat-error *ngIf="Formulario.controls.fm_mobilePhone_pj.invalid">{{
          eShowError("fm_mobilePhone_pj", Formulario.controls.fm_mobilePhone_pj.errors)
        }}</mat-error>                      
      </mat-form-field>
    </div>













        <div
        fxFlex="50"
        fxFlex.md="50"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="padd_4"
        *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
      >
        <div class="labelsColor">Teléfono fijo </div>
        <mat-form-field
          class=""
          appearance="outline"
          style="width: 100%"
        >
          <input
            type="text"
            class="form-control"
            formControlName="fm_phone_pj"
            [class.control-invalid]="formInvalid('fm_phone_pj')"
            [maxlength]="10"
            [minlength]="6"
            (keypress)="validar_campo_phone($event, 'fm_phone_pj')"
            matInput
            placeholder="Número de teléfono"
            name="phone"
            (input)="onKeydown($event, 'fm_phone_pj')"
          />
          <mat-error *ngIf="Formulario.controls.fm_phone_pj.invalid">{{
            eShowError("fm_phone_pj", Formulario.controls.fm_phone_pj.errors)
          }}</mat-error>                      
        </mat-form-field>
      </div>



      <div
      fxFlex="50"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      class="padd_4"
      *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
    >
      <div class="labelsColor">Departamento*</div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-select placeholder="Seleccione" name="fm_departamentoListPJ" formControlName="fm_departamentoListPJ" (selectionChange)="cambiarProvinciaPJ()">
          <mat-option *ngFor="let item of departamentoList" [value]="item">{{ item.nodep }}</mat-option>
        </mat-select>
        <mat-error *ngIf="Formulario.controls.fm_departamentoListPJ.invalid">{{eShowError("fm_departamentoListPJ", Formulario.controls.fm_departamentoListPJ.errors)}}</mat-error>
      </mat-form-field>
    </div>

      <div
      fxFlex="50"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      class="padd_4"
      *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
    >
      <div class="labelsColor">Provincia*</div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-select placeholder="Seleccione" name="fm_provinciaListPJ" formControlName="fm_provinciaListPJ" (selectionChange)="cambiarDistritoPJ()">
          <mat-option *ngFor="let item of provinciaListPJ" [value]="item">{{ item.noprv }}</mat-option>
        </mat-select>
        <mat-error *ngIf="Formulario.controls.fm_provinciaListPJ.invalid">{{eShowError("fm_provinciaListPJ", Formulario.controls.fm_provinciaListPJ.errors)}}</mat-error>
      </mat-form-field>
    </div>

    <div
      fxFlex="50"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      class="padd_4"
      *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
    >
      <div class="labelsColor">Distrito*</div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-select placeholder="Seleccione" name="fm_distritoListPJ" formControlName="fm_distritoListPJ" >
          <mat-option *ngFor="let item of distritoListPJ" [value]="item">{{ item.nodis }}</mat-option>
        </mat-select>
        <mat-error *ngIf="Formulario.controls.fm_distritoListPJ.invalid">{{eShowError("fm_distritoListPJ", Formulario.controls.fm_distritoListPJ.errors)}}</mat-error>
      </mat-form-field>
    </div>
    
    <div
      fxFlex="50"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      class="padd_4"
      *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
    >
      <div class="labelsColor">Domicilio físico*</div>
      <mat-form-field class="" appearance="outline" style="width: 100%">
        <input
          id="fm_direccion_PJ"
          type="text"
          class="form-control"
          formControlName="fm_direccion_PJ"
          [class.control-invalid]="formInvalid('fm_direccion_PJ')"
          [minlength]="5"
          [maxlength]="100"
          [attr.disabled]="inputDisabled ? '' : null"
          matInput
          placeholder="Ingrese dirección"
          name="address"
          (keypress)="quitarDobleEspacio('fm_direccion_PJ', fm_direccion_PJ, $event)"
        />
        <mat-error *ngIf="Formulario.controls.fm_direccion_PJ.invalid">{{
          eShowError("fm_direccion_PJ", Formulario.controls.fm_direccion_PJ.errors)
        }}</mat-error>                
      </mat-form-field>
    </div>

    <div
    fxFlex="50"
    fxFlex.md="50"
    fxFlex.sm="100"
    fxFlex.xs="100"
    class="padd_4"
    *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
  >
    <div class="labelsColor">Página web</div>
    <mat-form-field class="" appearance="outline" style="width: 100%">
      <input
        id="fm_paginawebPJ"
        type="text"
        class="form-control"
        formControlName="fm_paginawebPJ"
        [maxlength]="100"
        [attr.disabled]="inputDisabled ? '' : null"
        matInput
        placeholder="Ingrese página web"
        (keypress)="quitarDobleEspacio('fm_paginawebPJ', fm_paginawebPJ, $event)"
        [class.control-invalid]="formInvalid('fm_paginawebPJ')"
        pattern="(https?:\/\/)?(www\.)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)|(https?:\/\/)?(www\.)?(?!ww)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
      />
      <mat-error *ngIf="Formulario.controls.fm_paginawebPJ.invalid && (Formulario.controls.fm_paginawebPJ.dirty || Formulario.controls.fm_paginawebPJ.touched)">{{
        eShowError("fm_paginawebPJ", Formulario.controls.fm_paginawebPJ.errors)
      }}</mat-error>
    </mat-form-field>
  </div>









          <div
            *ngIf="buildHide('fm_razon_social')"
            fxFlex="100"
            class="centerTitle"
          >
            DATOS DEL REPRESENTANTE
          </div>


        <div
          fxFlex="100"
          fxFlex.md="100"
          fxFlex.sm="100"
          fxFlex.xs="100"
          class="padd_4"
          *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
        >
          <div class="labelsColor">Tipo de documento adjunto*</div>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-select
              
              formControlName="fm_tipoDocumentoAdjunto"  
              (selectionChange)="eChangeDocumentoAttach($event)"           
            > <!-- name="typeDoc" -->
            <mat-option  value="">   --- Seleccione --- </mat-option>
              <mat-option *ngFor="let doc of tipoDocumentoAdjunto" [value]="doc.id">
                {{ doc.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="Formulario.controls.fm_tipoDocumentoAdjunto.invalid">{{
              eShowError("fm_tipoDocumentoAdjunto", Formulario.controls.fm_tipoDocumentoAdjunto.errors)
            }}</mat-error>                
          </mat-form-field>
        </div>


        <div
        fxFlex="100"
        fxFlex.md="100"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="padd_4"
        *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
      >

      <div class="labelsColor">Especifique</div>
      <mat-form-field class="" appearance="outline" style="width: 100%">
        <input id="especifiqueDoc" type="text" formControlName="especifiqueDoc" matInput placeholder="Especifique"
          [maxlength]="100" 
          (keypress)="soloExpLetras('especifiqueDoc', especifiqueDoc, $event)"
          />
        <mat-error *ngIf="especifiqueDoc.invalid && (especifiqueDoc.dirty || especifiqueDoc.touched)">{{
          eShowError("especifiqueDoc", especifiqueDoc.errors)
        }}</mat-error>               
      </mat-form-field>
      </div>

      <div fxFlex="100" class="padd_4"  *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'">
        <div class="labelsColor">
         Adjuntar archivo PDF
        </div>
        <!-- <p>{{ Formulario.get("files").errors | json }}</p> -->
        <file-upload
          [(ngModel)]="uploadedFilesRep"
          formControlName="filesRep"
          [multiple]="false"
          [animation]="true"
          discard="true" accept=".pdf"
          (change)="validatorPdfAttach()"
        >
          <ng-template
            let-isFileDragDropAvailable="isFileDragDropAvailable"
            #placeholder
          >
            <file-upload-drop-zone>
              <ng-container
                *ngIf="isFileDragDropAvailable; else isNotDragDropAvailable"
              >
                {{lblAddFiles}}
              </ng-container>
              <ng-template #isNotDragDropAvailable> </ng-template>
            </file-upload-drop-zone>
          </ng-template>

          <ng-template
            let-i="index"
            let-file="file"
            let-control="control"
            #item
          >
            <file-upload-list-item
              [index]="i"
              class="item-test"
              [file]="file"
              [control]="control"
              >Eliminar</file-upload-list-item
            >
          </ng-template>
        </file-upload>
        
        <p *ngIf="errmaxLengthName" class="text-file-valid">{{lblErrorMaxLengthName}}</p>
        <p *ngIf="errduplicate" class="text-file-valid">Archivo con nombre duplicado</p>
        <p *ngIf="errorOnlyFile" class="text-file-valid">{{lblErrorOnlyFile}}</p>
        <p *ngIf="errminSizeFile" class="text-file-valid">El tamaño del archivo mínimo es 1B</p>
        <p *ngIf="errmaxSizeFile" class="text-file-valid">{{lblErrorMaxSizeFile}}</p>
        <p *ngIf="errmaxFiles" class="text-file-valid">{{lblErrorMaxFiles}}</p>
      </div>
















          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
            *ngIf="buildHide('fm_optiontipo_rep')"
          >
            <div class="labelsColor">Tipo de documento*</div>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-select
                placeholder="Seleccione"
                formControlName="fm_optiontipo_rep"
                (selectionChange)="eChangeDocumentoRep($event)"
              > <!-- name="typeDoc" -->
                <mat-option *ngFor="let doc of typeDocument2" [value]="doc.id">
                  {{ doc.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Formulario.controls.fm_optiontipo_rep.invalid">{{
                eShowError("fm_optiontipo_rep", Formulario.controls.fm_optiontipo_rep.errors)
              }}</mat-error>                
            </mat-form-field>
          </div>
          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
            *ngIf="buildHide('fm_numerodoc_rep')"
          >  
            <div class="labelsColor">Número de documento*</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                type="text"
                class="form-control"
                formControlName="fm_numerodoc_rep"
                [maxlength]="maxlengthNumDocRep"
                [minlength]="minlengthNumDocRep"
                matInput
                placeholder="Ingrese el número de Documento"
                (keypress)="validar_campo($event, 'fm_numerodoc_rep')"
                [readonly]="Formulario.controls.fm_optiontipo_rep.value == null" 
                name="doc"
                (keyup.enter)="buscarCE()"
              />
              <!-- (keydown)="keydown($event, 'fm_numerodoc_rep')"-->
              <mat-icon *ngIf="isCERep" style="cursor: pointer;" (click)="buscarCE()" matSuffix>search</mat-icon>
              <mat-error *ngIf="Formulario.controls.fm_numerodoc_rep.invalid">{{
                eShowError("fm_numerodoc_rep", Formulario.controls.fm_numerodoc_rep.errors)
              }}</mat-error>     
            </mat-form-field>
          </div>
          <!--<div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">{{lblNombre}}</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                id="nombres"
                type="text"
                class="input_text"
                formControlName="nombres"
                matInput
                placeholder="Nombres"
                [maxlength]="100"
                [readonly]="existData"
                (keypress)="soloExpLetras('nombres', nombres, $event)"
              />
              <mat-error *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">{{
                eShowError("fm_nombres", nombres.errors)
              }}</mat-error>               
            </mat-form-field>
          </div>-->

          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">{{lblApPat}}</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                id="appaterno"
                type="text"
                class="input_text"
                formControlName="apPaterno"
                matInput
                placeholder="Apellido Paterno"
                [maxlength]="100"
                [readonly]="existData"
                (keypress)="soloExpLetras('appaterno', apPaterno, $event)"
              />
              <mat-error *ngIf="apPaterno.invalid && (apPaterno.dirty || apPaterno.touched)">{{
                eShowError("fm_appaterno", apPaterno.errors)
              }}</mat-error>               
            </mat-form-field>
          </div>

          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">{{lblApMat}}</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                id="apmaterno"
                type="text"
                class="input_text"
                formControlName="apMaterno"
                matInput
                placeholder="Apellido Materno"
                [maxlength]="100"
                [readonly]="existData"
                (keypress)="soloExpLetras('apmaterno', apMaterno, $event)"
              />
              <mat-error *ngIf="apMaterno.invalid && (apMaterno.dirty || apMaterno.touched)">{{
                eShowError("fm_apmaterno", apMaterno.errors)
              }}</mat-error>                
            </mat-form-field>
          </div>

          
          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">Nombres*</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                id="nombres"
                type="text"
                class="input_text"
                formControlName="nombres"
                matInput
                placeholder="Nombres"
                [maxlength]="100"
                [readonly]="existData"
                (keypress)="soloExpLetras('nombres', nombres, $event)"
              />
              <mat-error *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">{{
                eShowError("fm_nombres", nombres.errors)
              }}</mat-error>               
            </mat-form-field>
          </div>

          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">Correo electrónico*</div>
            <mat-form-field
              class=""
              disabled="true"
              appearance="outline"
              style="width: 100%"
            >
              <input
                id="fm_correo"
                type="text"
                class="form-control"
                formControlName="fm_correo"
                [class.control-invalid]="formInvalid('fm_correo')"
                name="text"
                [attr.disabled]="inputDisabled ? '' : null"
                matInput
                placeholder="Ingrese correo electrónico"
                [maxlength]="100"
                (keypress)="quitarDobleEspacio('fm_correo', fm_correo, $event)"
              />
              <mat-error *ngIf="Formulario.controls.fm_correo.invalid">{{
                eShowError("fm_correo", Formulario.controls.fm_correo.errors)
              }}</mat-error>                
            </mat-form-field>
          </div>
          
          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">Teléfono fijo</div>
            <mat-form-field
              class=""
              appearance="outline"
              style="width: 100%"
            >
              <input
                type="text"
                class="form-control"
                formControlName="fm_phone"
                [class.control-invalid]="formInvalid('fm_phone')"
                [maxlength]="10"
                [minlength]="6"
                (keypress)="validar_campo_phone($event, 'fm_phone')"
                matInput
                placeholder="Número de teléfono"
                name="phone"
                (input)="onKeydown($event, 'fm_phone')"
              />
              <mat-error *ngIf="Formulario.controls.fm_phone.invalid">{{
                eShowError("fm_phone", Formulario.controls.fm_phone.errors)
              }}</mat-error>                      
            </mat-form-field>
          </div>

          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">Número de celular*</div>
            <mat-form-field
              class=""
              appearance="outline"
              style="width: 100%"
            >
              <input
                type="text"
                class="form-control"
                formControlName="fm_celular"
                [class.control-invalid]="formInvalid('fm_celular')"
                [maxlength]="9"
                [minlength]="9"
                (keypress)="validar_campo($event, 'fm_celular')"
                matInput
                placeholder="Número de celular"
                name="cellphone"
                (input)="onKeydown($event, 'fm_celular')"
              />
              <mat-error *ngIf="Formulario.controls.fm_celular.invalid">{{
                eShowError("fm_celular", Formulario.controls.fm_celular.errors)
              }}</mat-error>                      
            </mat-form-field>
          </div>
          <!-- <div fxFlex="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
            <div class="labelsColor">
              Teléfono celular* y/o fijo opcional
            </div>
            <div fxLayout="row">
              <div fxFlex="50" class="padd_4">
                <mat-form-field
                  class=""
                  appearance="outline"
                  style="width: 100%"
                >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fm_celular"
                    [class.control-invalid]="formInvalid('fm_celular')"
                    [maxlength]="9"
                    [minlength]="9"
                    (keypress)="validar_campo($event, 'fm_celular')"
                    matInput
                    placeholder="Número de celular"
                    name="cellphone"
                    (input)="onKeydown($event, 'fm_celular')"
                  />
                  <mat-error *ngIf="Formulario.controls.fm_celular.invalid">{{
                    eShowError("fm_celular", Formulario.controls.fm_celular.errors)
                  }}</mat-error>                      
                </mat-form-field>
              </div>
              <div fxFlex="50" class="padd_4">
                <mat-form-field
                  class=""
                  appearance="outline"
                  style="width: 100%"
                >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fm_fijo"
                    [class.control-invalid]="formInvalid('fm_fijo')"
                    [maxlength]="10"
                    [minlength]="7"
                    (keypress)="validar_campo($event, 'fm_fijo')"
                    [attr.disabled]="inputDisabled ? '' : null"
                    matInput
                    placeholder="Número de teléfono"
                    (input)="onKeydown($event, 'fm_fijo')"
                  />
                  <mat-error *ngIf="Formulario.controls.fm_fijo.invalid">{{
                    eShowError("fm_fijo", Formulario.controls.fm_fijo.errors)
                  }}</mat-error>                     
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <div
          fxFlex="50"
          fxFlex.md="50"
          fxFlex.sm="100"
          fxFlex.xs="100"
          class="padd_4"
        >
          <div class="labelsColor">Departamento*</div>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-select placeholder="Seleccione" name="fm_departamentoList" formControlName="fm_departamentoList" (selectionChange)="cambiarProvincia()">
              <mat-option *ngFor="let item of departamentoList" [value]="item">{{ item.nodep }}</mat-option>
            </mat-select>
            <mat-error *ngIf="Formulario.controls.fm_departamentoList.invalid">{{eShowError("fm_departamentoList", Formulario.controls.fm_departamentoList.errors)}}</mat-error>
          </mat-form-field>
        </div>

          <div
          fxFlex="50"
          fxFlex.md="50"
          fxFlex.sm="100"
          fxFlex.xs="100"
          class="padd_4"
        >
          <div class="labelsColor">Provincia*</div>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-select placeholder="Seleccione" name="fm_provinciaList" formControlName="fm_provinciaList" (selectionChange)="cambiarDistrito()">
              <mat-option *ngFor="let item of provinciaList" [value]="item">{{ item.noprv }}</mat-option>
            </mat-select>
            <mat-error *ngIf="Formulario.controls.fm_provinciaList.invalid">{{eShowError("fm_provinciaList", Formulario.controls.fm_provinciaList.errors)}}</mat-error>
          </mat-form-field>
        </div>

        <div
          fxFlex="50"
          fxFlex.md="50"
          fxFlex.sm="100"
          fxFlex.xs="100"
          class="padd_4"
        >
          <div class="labelsColor">Distrito*</div>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-select placeholder="Seleccione" name="fm_distritoList" formControlName="fm_distritoList" (selectionChange)="cambiarCargo()">
              <mat-option *ngFor="let item of distritoList" [value]="item">{{ item.nodis }}</mat-option>
            </mat-select>
            <mat-error *ngIf="Formulario.controls.fm_distritoList.invalid">{{eShowError("fm_distritoList", Formulario.controls.fm_distritoList.errors)}}</mat-error>
          </mat-form-field>
        </div>
        
        <div
          fxFlex="50"
          fxFlex.md="50"
          fxFlex.sm="100"
          fxFlex.xs="100"
          class="padd_4"
        >
          <div class="labelsColor">Domicilio físico*</div>
          <mat-form-field class="" appearance="outline" style="width: 100%">
            <input
              id="fm_direccion"
              type="text"
              class="form-control"
              formControlName="fm_direccion"
              [class.control-invalid]="formInvalid('fm_direccion')"
              [minlength]="5"
              [maxlength]="100"
              [attr.disabled]="inputDisabled ? '' : null"
              matInput
              placeholder="Ingrese dirección"
              name="address"
              (keypress)="quitarDobleEspacio('fm_direccion', fm_direccion, $event)"
            />
            <mat-error *ngIf="Formulario.controls.fm_direccion.invalid">{{
              eShowError("fm_direccion", Formulario.controls.fm_direccion.errors)
            }}</mat-error>                
          </mat-form-field>
        </div>

        <div
        fxFlex="50"
        fxFlex.md="50"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="padd_4"
        *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
      >
        <div class="labelsColor">Cargo</div>

        <mat-form-field appearance="outline" style="width: 100%">
          <mat-select
            placeholder="Seleccione"
            formControlName="fm_cargo"
            (selectionChange)="cambiarCargo()"
          > <!-- name="typeDoc" -->
            <mat-option *ngFor="let doc of cargos" [value]="doc.id">
              {{ doc.value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Formulario.controls.fm_cargo.invalid">{{
            eShowError("fm_cargo", Formulario.controls.fm_cargo.errors)
          }}</mat-error>                
        </mat-form-field>
      </div>

          <!-- <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
            *ngIf="buildHide('fm_organizacion')"
          >
            <div class="labelsColor">Organización</div>
            <mat-form-field class="" appearance="outline" style="width: 100%">
              <input
                id="fm_organizacion"
                type="text"
                class="form-control"
                formControlName="fm_organizacion"
                [class.control-invalid]="formInvalid('fm_organizacion')"
                matInput
                placeholder="Organización"
                [maxlength]="100"
                [value]="name"
                (keypress)="quitarDobleEspacio('fm_organizacion', fm_organizacion, $event)"
              />
              <mat-error *ngIf="Formulario.controls.fm_organizacion.invalid">{{
                eShowError("fm_organizacion", Formulario.controls.fm_organizacion.errors)
              }}</mat-error>               
            </mat-form-field>
          </div>

          <div
            fxFlex="50"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
            class="padd_4"
          >
            <div class="labelsColor">Tipo de registro de acreditación*</div>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-select
                placeholder="Seleccione"
                [disableOptionCentering]="true"
                name="typeDoc"
                [disabled]="inputDisabled"
                formControlName="fm_optiontacreditacion"
              >
                <mat-option
                  *ngFor="let acc of listTypeAcreditation"
                  [value]="acc.code"
                >
                  {{ acc.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Formulario.controls.fm_optiontacreditacion.invalid">{{
                eShowError("fm_optiontacreditacion", Formulario.controls.fm_optiontacreditacion.errors)
              }}</mat-error>                
            </mat-form-field>
          </div> -->

          <div fxFlex="100" class="padd_4"   *ngIf="Formulario.get('fm_optiontipo').value != 'ruc'">
            <div class="labelsColor">
              {{lblFeaturesFile}}
            </div>
            <!-- <p>{{ Formulario.get("files").errors | json }}</p> -->
            <file-upload
              [(ngModel)]="uploadedFiles"
              formControlName="files"
              [multiple]="true"
              [animation]="true"
              discard="true" accept=".pdf,.jpg,.jpeg,.png,.bmp"
            >
              <ng-template
                let-isFileDragDropAvailable="isFileDragDropAvailable"
                #placeholder
              >
                <file-upload-drop-zone>
                  <ng-container
                    *ngIf="isFileDragDropAvailable; else isNotDragDropAvailable"
                  >
                    {{lblAddFiles}}
                  </ng-container>
                  <ng-template #isNotDragDropAvailable> </ng-template>
                </file-upload-drop-zone>
              </ng-template>

              <ng-template
                let-i="index"
                let-file="file"
                let-control="control"
                #item
              >
                <file-upload-list-item
                  [index]="i"
                  class="item-test"
                  [file]="file"
                  [control]="control"
                  >Eliminar</file-upload-list-item
                >
              </ng-template>
            </file-upload>
            
            <p *ngIf="errmaxLengthName" class="text-file-valid">{{lblErrorMaxLengthName}}</p>
            <p *ngIf="errduplicate" class="text-file-valid">Archivo con nombre duplicado</p>
            <p *ngIf="errorOnlyFile" class="text-file-valid">{{lblErrorOnlyFile}}</p>
            <p *ngIf="errminSizeFile" class="text-file-valid">El tamaño del archivo mínimo es 1B</p>
            <p *ngIf="errmaxSizeFile" class="text-file-valid">{{lblErrorMaxSizeFile}}</p>
            <p *ngIf="errmaxFiles" class="text-file-valid">{{lblErrorMaxFiles}}</p>
          </div>

          <div
          fxFlex="50"
          fxFlex.md="50"
          fxFlex.sm="100"
          fxFlex.xs="100"
          class="padd_4"
          *ngIf="Formulario.get('fm_optiontipo').value == 'ruc'"
        >
        </div>
          <mat-progress-bar
            *ngIf="load"
            mode="indeterminate"
          ></mat-progress-bar>
          <span class="labelsColor">*Campos requeridos</span>
          <div
            fxFlex="100"
            class="newNotif"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <button
              type="submit"
              class="btnBlue"
              mat-button     
              [disabled]="!(Formulario.valid && Formulario.dirty)"         
              (click)="alert()"
            >
              ACEPTAR
            </button>
            <button class="btnBrown" mat-button (click)="cancelar()">
              CANCELAR
            </button>
          </div>
        </div>
      </form>
      <br />
    </div>
  </div>
</section>