<div fxLayout="row" class="allTitlesPop">
    Ingrese un rango de fechas
</div>
<div mat-dialog-content>
    <div fxLayout="row"> 
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50">
            <mat-form-field class="collFilter">
                <mat-label>Desde</mat-label>
                <input matInput  [min]="minDatefi" [max]="maxDatefi"  (dateChange)="onValueChange($event)" [(ngModel)]="fechaInicio" name="fechaInicio" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50">
            <mat-form-field class="collFilter">
                <mat-label>Hasta</mat-label>
                <input matInput [min]="minDateff" [min]="fechaInicio" [max]="maxDateff" [(ngModel)]="fechaFin" name="fechaFin" [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <p style="color: red;font-size: 0.8rem;text-align: center;">{{mensaje}}</p>

</div>
<div mat-dialog-actions fxLayout="row">
    <div fxFlex="50" fxLayout="row">
        <button mat-button class="btnBrown margLR_4" (click)="handleCancelar();" fxFlex>CANCELAR</button>
    </div>
    <div fxFlex="50" fxLayout="row">
        <button mat-button cdkFocusInitial class="btnBlue2 margLR_4" (click)="handleOk();" fxFlex>ACEPTAR</button>
    </div>
</div>