<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span> <ng-template [ngIf]="data.doc_type !== 'ruc'" [ngIfElse]="pj">Usuarios</ng-template><ng-template #pj>Persona Jurídica</ng-template>
    </div>
    <div class="generalBox">
        <mat-progress-bar *ngIf="load" mode="indeterminate"></mat-progress-bar>

        <div class="controlBox inputColor">
            <div class="centerTitle">Validación de Casilla Electrónica</div>
            <form>

                <mat-card class="card">
                    <mat-card-subtitle>
                      Verifique que la documentación anexa, cumpla con lo descrito en el art. 19° del Reglamento SISEN - ONPE:
                    </mat-card-subtitle>

                    <!-- content -->
                    <mat-card-content>
                      <div fxLayout="column">

                        <div fxLayout="row" >
                            <!-- Column-2 Row-1-->
                            <div fxLayout="column" fxFlex="60" fxFlexFill fxLayoutAlign="space-between strech">
                              <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center"></div>
                              <div *ngIf="data.doc_type !== 'ruc'; else juridico" fxLayout="row" fxFlex="220px" >
                                <ol>
                                    <li>Persona Natural</li>
                                    <li>Tipo de documento: <b>{{data.doc_type | uppercase}}</b> </li>
                                    <li>Número de documento: <b>{{data.doc}}</b></li>
                                    <li>Apellidos y Nombres: <b>{{data.lastname }} {{data.second_lastname }},  {{data.name}}</b></li>
                                    <li>Correo Electrónico: <b>{{data.email}}</b></li>
                                    <li>Número de Celular: <b>{{data.cellphone}}</b></li>
                                    <li>Número de Teléfono fijo: <b>{{data.phone}}</b></li>
                                    <li>Departamento / Provincia / Distrito: <b>{{data.ubigeo}}</b></li>
                                    <li>Dirección: <b>{{data.address}}</b></li>
                                </ol>
                              </div>

                              <ng-template #juridico>
                                <div>
                                  <b>DATOS DE LA PERSONA JURÍDICA</b><br/>
                                  <p style="margin-top:10px;">
                                  RUC: <b>{{data.doc}}</b><br/>
                                  Razón Social: <b>{{data.organization_name}}</b><br/>
                                  Número de Celular: <b>{{data.cellphone}}</b><br/>
                                  Número de Teléfono: <b>{{data.phone}}</b><br/>
                                  Correo de la Entidad: <b>{{data.email}}</b><br/>
                                  Dirección: <b>{{data.address}}</b><br/>
                                  <!-- Departamento: <b>{{data.departamento}}</b><br/>
                                  Provincia: <b>{{data.provincia}}</b><br/>
                                  Distrito: <b>{{data.distrito}}</b><br/> -->
                                  Ubigeo: <b>{{data.ubigeo}}</b><br/>
                                  Página Web: <b>{{data.paginaweb}}</b><br/>
                                  </p>
                                </div>
                                <br/>
                                <div *ngIf="data!.representative">
                                  <b>DATOS DEL REPRESENTANTE ACTUAL</b><br/>
                                  <p style="margin-top:10px;">
                                    Tipo doc: <b>{{data!.representative!.doc_type}}</b><br/>
                                    Nro doc: <b>{{data!.representative!.doc}}</b><br/>
                                    Nombres: <b>{{data!.representative!.names}} {{data!.representative!.lastname}} {{data!.representative!.second_lastname}}</b><br/>
                                    Dirección: <b>{{data!.representative!.address}}</b><br/>                                    
                                    E-mail: <b>{{data!.representative!.email}}</b><br/> 
                                    Teléfono Celular: <b>{{data!.representative!.cellphone}}</b><br/> 
                                    Teléfono fijo: <b>{{data!.representative!.phone}}</b><br/> 
                                    <!-- Departamento: <b>{{data!.representative!.departamento}}</b><br/>
                                    Provincia: <b>{{data!.representative!.provincia}}</b><br/>
                                    Distrito: <b>{{data!.representative!.distrito}}</b><br/> -->
                                    Ubigeo: <b>{{data!.representative!.ubigeo}}</b><br/> 
                                    Cargo: <b>{{data!.representative!.position_name}}</b><br/>
                                    Tipo documento adjunto: <b>{{data!.representative!.document_name_attachment}}</b><br/>
                                  </p>
                                </div>
                                <p>
                                <span style="cursor:pointer;" (click)="download(data!.representative!.file_document[0]!.path,data!.representative!.file_document[0]!.name)"> {{data!.representative!.file_document[0]!.name}} <span matPrefix class="material-icons">download</span></span>
                                </p>
                              </ng-template>

                              <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center"></div>
                            </div>
                            <!-- Column-2 Row-2-->
                            <div fxLayout="row" fxFlex="40" fxFlexFill style="background-color: #ebebeb" fxLayoutAlign="space-around strech">
                              <div fxLayoutAlign="center center">
                              <img style="max-width:450px; max-height:450px" src="{{imageURlss}}"  alt=""></div>

                            </div>
                          </div>
                          <div fxLayout="row" fxFlex="50px" style="background-color: #ebebeb" fxLayoutAlign="center center">

                            <div fxLayout="column" fxFlex="60" fxFlexFill fxLayoutAlign="space-between strech"></div>
                            <div fxLayout="row" fxFlex="40" fxFlexFill fxLayoutAlign="space-around strech">
                              <div fxFlex="50" fxLayoutAlign="center center" *ngIf="action !== 'view'">
                                <button type="submit" mat-raised-button fxFlex="50" [disabled] = "sinDatos" class="btnBlue" [class.spinner]="load" (click)="consultar(1)">Aprobar</button>
                              </div>
                              <div fxFlex="50" fxLayoutAlign="center center"  *ngIf="action !== 'view'">
                                <button type="submit" mat-raised-button fxFlex="70" [disabled] = "sinDatos" class="btnRed" [class.spinner]="load" (click)="consultar(2)">Desaprobar</button>
                             
                              </div>
                              <div fxFlex="50" fxLayoutAlign="center center"  *ngIf="action === 'view'">
                                <button type="submit" mat-raised-button fxFlex="70" class="btnRed" [class.spinner]="load" (click)="cancelar()">Volver</button>
                            
                              </div>
                              </div>
                          </div>
                      </div>
                    </mat-card-content>

                  </mat-card>
            </form>
            <br />
        </div>
    </div>
</section>
