<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span> <ng-template [ngIf]="data.doc_type !== 'ruc'" [ngIfElse]="pj">Usuarios</ng-template><ng-template #pj>Persona Jurídica</ng-template>
    </div>
    <div class="generalBox">
        <mat-progress-bar *ngIf="load" mode="indeterminate"></mat-progress-bar>

        <div class="controlBox inputColor">
            <div class="centerTitle">Casilla Electrónica</div>
            <form>

                <mat-card class="card">
                    <mat-card-subtitle>
                    </mat-card-subtitle>

                    <!-- content -->
                    <mat-card-content>
                      <div fxLayout="column">

                        <div fxLayout="row" >
                            <!-- Column-2 Row-1-->
                            <div fxLayout="column" fxFlex="60" fxFlexFill fxLayoutAlign="space-between strech" style="padding-left: 20px;">
                              <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center"></div>
                              <div *ngIf="data.doc_type !== 'ruc'; else juridico" fxLayout="row" fxFlex="220px" >
                                <ol>
                                    <li>Persona Natural</li>
                                    <li>Tipo de documento: <b>{{data.doc_type | uppercase}}</b> </li>
                                    <li>Número de documento: <b>{{data.doc}}</b></li>
                                    <li>Apellidos y Nombres: <b>{{data.lastname | lowercase }} {{data.second_lastname | lowercase }},  {{data.name | lowercase}} </b></li>
                                    <li>Correo Electrónico: <b>{{data.email}}</b></li>
                                    <li>Número de Celular: <b>{{data.cellphone}}</b></li>
                                    <li>Número de Teléfono fijo: <b>{{data.phone}}</b></li>
                                    <li>Departamento / Provincia / Distrito: <b>{{data.ubigeo}}</b></li>
                                    <li>Dirección: <b>{{data.address}}</b></li>
                                </ol>
                              </div>

                              <ng-template #juridico>
                                  <div>
                                    <b>DATOS DE LA PERSONA JURÍDICA</b>
                                    <!-- <p style="margin-top:10px;">
                                    RUC: <b>{{data.doc}}</b><br/>
                                    Razón Social: <b>{{data.organization_name}}</b><br/>
                                    Correo: <b>{{data.email}}</b><br/>
                                    Dirección: <b>{{data.address}}</b><br/>
                                    Ubigeo: <b>{{data.ubigeo}}</b><br/>
                                  </p> -->
                                  
                                  <p style="margin-top:10px;">
                                    RUC: <b>{{data.doc}}</b><br/>
                                    Razón Social: <b>{{data.organization_name}}</b><br/>
                                    Número de Celular: <b>{{data.cellphone}}</b><br/>
                                    Número de Teléfono: <b>{{data.phone}}</b><br/>
                                    Correo de la Entidad: <b>{{data.email}}</b><br/>
                                    Dirección: <b>{{data.address}}</b><br/>
                                    <!-- Departamento: <b>{{data.departamento}}</b><br/>
                                    Provincia: <b>{{data.provincia}}</b><br/>
                                    Distrito: <b>{{data.distrito}}</b><br/> -->
                                    Ubigeo: <b>{{data.ubigeo}}</b><br/>
                                    Página Web: <b>{{data.paginaweb}}</b><br/>
                                    </p>

                                  </div>
                                  <br/>
                                  <div *ngFor="let representante of data.representantes">
                                    <div *ngIf="(representante.enabled)">
                                    <b>DATOS DEL REPRESENTANTE ACTUAL</b>
                                    <!-- <p style="margin-top:10px;">
                                    Nombre: <b>{{representante.names}}</b><br/>
                                    Apellidos: <b>{{representante.lastname}} {{representante.second_lastname}}</b><br/>
                                    Tipo doc: <b>{{representante.doc_type}}</b><br/>
                                    Nro doc: <b>{{representante.doc}}</b><br/>
                                    Correo: <b>{{representante.email}}</b><br/>
                                    Dirección: <b>{{representante.address}}</b><br/>
                                    Ubigeo: <b>{{representante.ubigeo}}</b>
                                    </p> -->                                    
                                  <p style="margin-top:10px;">
                                    Tipo doc: <b>{{representante.doc_type}}</b><br/>
                                    Nro doc: <b>{{representante.doc}}</b><br/>
                                    Nombres: <b>{{representante.names}} {{representante.lastname}} {{representante.second_lastname}}</b><br/>
                                    Dirección: <b>{{representante.address}}</b><br/>                                    
                                    E-mail: <b>{{representante.email}}</b><br/> 
                                    Teléfono Celular: <b>{{representante.cellphone}}</b><br/> 
                                    Teléfono fijo: <b>{{representante.phone}}</b><br/> 
                                    <!-- Departamento: <b>{{representante.departamento}}</b><br/>
                                    Provincia: <b>{{representante.provincia}}</b><br/>
                                    Distrito: <b>{{representante.distrito}}</b><br/> -->                                    
                                    Ubigeo: <b>{{representante.ubigeo}}</b><br/>
                                    Cargo: <b>{{representante.position_name}}</b><br/>
                                    Tipo documento adjunto: <b>{{representante.document_name_attachment}}</b><br/>
                                  </p>
                                    </div>
                                  </div>

                              </ng-template>

                              <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center"></div>
                            </div>
                            <!-- Column-2 Row-2-->
                            <div fxLayout="row" fxFlex="40" fxFlexFill style="background-color: #ebebeb" fxLayoutAlign="space-around strech">
                              <div fxLayoutAlign="center center">
                              <img *ngIf="mostrarImagen" style="max-width:450px; max-height:450px" src="{{imageURlss}}"  alt=""></div>

                            </div>
                          </div>
                      </div>
                      <p>Datos históricos de representantes</p>
                      <table mat-table [dataSource]="data.representantes" class="mat-elevation-z8">
                        <ng-container matColumnDef="dni">
                          <th mat-header-cell *matHeaderCellDef> DNI/CE </th>
                          <td mat-cell *matCellDef="let element"> {{element.doc}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="nombre">
                          <th mat-header-cell *matHeaderCellDef> Nombres y Apellidos </th>
                          <td mat-cell *matCellDef="let element"> <span style="text-transform: uppercase;">{{element.names | lowercase}} {{element.lastname | lowercase}} {{element.second_lastname | lowercase}}</span>  </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="fec_reg">
                          <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
                          <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="fec_eval">
                          <th mat-header-cell *matHeaderCellDef> Fecha de Evaluación </th>
                          <td mat-cell *matCellDef="let element"> {{element.updated_at}}  </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="evaluador">
                          <th mat-header-cell *matHeaderCellDef> Evaluador/Registrador </th>
                          <td mat-cell *matCellDef="let element"> {{element.evaluator_user_names}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fec_ini">
                          <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                          <td mat-cell *matCellDef="let element"> {{element.date_begin}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fec_fin">
                          <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
                          <td mat-cell *matCellDef="let element"> {{element.date_end}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sustento">
                          <th mat-header-cell *matHeaderCellDef> Sustento </th>
                          <td mat-cell *matCellDef="let element"> {{element.file_document[0].name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="accion">
                          <th mat-header-cell *matHeaderCellDef> Acción </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span style="cursor:pointer;" (click)="download(element.file_document[0].path,element.file_document[0].name)"><span matPrefix class="material-icons">download</span></span>
                          </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                    </mat-card-content>

                  </mat-card>
            </form>
            <br />
            <button mat-button (click)="cancelar()" class="btnBrown0">Volver</button>
            <br /><br />
        </div>
    </div>
</section>
