.footer-button{
  button{
    margin-right: 4px;
  }
}

.formNotif {
  max-width: 50%;
  margin: 0 auto;
}

.generalBox {
  border-left: #d1d1d1 solid 1px;
  margin: 8px 30px 0 30px;
  padding: 15px 15px 0 15px;
}


@media (max-width: 1680px) {
  .formNotif {
    max-width: 60%;
  }
}
@media (max-width: 1480px) {
  .formNotif {
    max-width: 80%;
  }
}
@media (max-width: 1280px) {
  .formNotif {
    max-width: 90%;
  }
}

@media (max-width: 960px) {
  .generalBox {
    border-left: none;
    margin: 8px 0px 0 0px;
    padding: 15px 15px 15px 15px;
  }
  .allTitles {
    font-size: 18px;
    margin-top: 30px;
  }
  .greyLine {
    width: 20px;
  }
  .centerTitle {
    font-size: 16px;
    margin: 10px 0 35px 0;
  }
}
.btnBlue0 {
  color: white;
  background: #175ba5;
  width: 24%;
}
.btnBrown0 {
  color: white;
  background: #bd6c15;
  width: 24%;
}